<!DOCTYPE html>
<html>
<head>
    <title>Art-ificial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://{{ host }}/favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body, h1 {
            font-family: "Raleway", Arial, sans-serif
        }

        h1 {
            letter-spacing: 6px
        }

        .underline {
            border-bottom: 2px solid #00c130;
        }

        .image {
            width: 100%;
            text-align: center;
        }

    </style>

</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-panel w3-center" style="padding:128px 16px">
        <h1 class="underline">ART-IFICIAL</h1>
        <h1 class="w3-xlarge">AI paintings like masters</h1>

        <div class="w3-padding-32">
            <div class="w3-bar w3-border">
                <a id="Mondrian" class="w3-bar-item w3-button">Mondrian</a>
                <a id="Van Gogh" class="w3-bar-item w3-button">Van Gogh</a>
                <a id="Monet" class="w3-bar-item w3-button">Monet</a>
                <a id="Picasso" class="w3-bar-item w3-button">Picasso</a>
            </div>
        </div>
        <div class="image">
            <img id="painting" src="http://{{ host }}/api/v1/default">
        </div>
    </header>
</div>


<script>
    (function () {
        const url = "http://{{ host }}/api/v1/paint/"

        const masters = document.getElementsByClassName("w3-bar-item w3-button");
        const names = Array.prototype.slice.call(masters).map(i => i.id)

        const width = window.innerWidth;
        const height = window.innerHeight - 200; // Remove button panel height

        function loadPaint() {
            const painting = document.getElementById("painting");
            const seed = Math.floor((Math.random() * 100) + 1); // Used to force url to change
            const uri = url + this.id + '?seed=' + seed + '&w=' + width + '&h=' + height;
            painting.src = encodeURI(uri);
            painting.style.width = "auto"

            for (name of names) {
                document.getElementById(name).style.color = '#666666';
            }

            this.style.color = '#00c130'
        }

        for (name of names) {
            document.getElementById(name).addEventListener("click", loadPaint);
        }
    })()
</script>

</body>
</html>
